#carouselExampleDark {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height: 65vh;
  }
  
  #carouselExampleDark .carousel-inner {
    height: 100%;
  }
  
  #carouselExampleDark .carousel-item {
    height: 100%;
    position: relative;
  }
  
  #carouselExampleDark .carousel-item .carousel-img {
    object-fit: cover;
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #carouselExampleDark .carousel-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #219EBC, transparent);
    z-index: 1;
  }
  
  #carouselExampleDark .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  #carouselExampleDark .h1 {
    margin-bottom: 20px;
    width: 90%;
  }
  
  #carouselExampleDark .h3 {
    margin-bottom: 20px;
  }
  
  #carouselExampleDark .carousel-indicators.custom-indicators {
    bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  #carouselExampleDark .carousel-indicators.custom-indicators button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  #carouselExampleDark .carousel-control-prev,
  #carouselExampleDark .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #carouselExampleDark .carousel-control-prev i {
    font-size: 4rem;
    color: #fff;
    margin-left: 50px;
  }
  
  #carouselExampleDark .carousel-control-next i {
    font-size: 4rem;
    color: #fff;
    margin-right: 50px;
  }
  
  @media (max-width: 768px) {
    #carouselExampleDark {
      height: 50vh;
    }
  
    #carouselExampleDark .carousel-item .carousel-img {
      height: 100%;
    }
  
    #carouselExampleDark .carousel-item::before {
      height: 20%;
    }
  
    #carouselExampleDark .carousel-caption {
      font-size: 0.8em;
    }
  
    #carouselExampleDark .carousel-control-prev i,
    #carouselExampleDark .carousel-control-next i {
      font-size: 3rem;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .additional-text.mobile-only {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 1.2em;
      color: white;
    }
  }
  