/* noticiaEnSi1.css */
.noticia-detalle {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido al inicio horizontal */
    position: relative; /* Añade posición relativa para alinear con valores absolutos */
    left: 180px; /* Mueve el contenido 390px a la derecha del borde izquierdo */
    top: -21px; /* Mueve el contenido 45px hacia arriba desde el borde superior */
}

.volver {
    display: inline-block; /* Usa inline-block para permitir ajustes de alineación */
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    user-select: none;
    margin-bottom: 20px; /* Espacio inferior para separar del contenido */
}

.bi-caret-left {
    font-size: 15px;
    margin-right: 10px;
    vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
}

.volver span {
    vertical-align: middle; /* Alinea verticalmente el texto con el ícono */
}

.volver:hover {
    background-color: salmon;
    color: white;
}

.contenido {
    
    max-width: 790px; /* Establece un ancho máximo para el contenido */
    text-align: end;
    font-size: 12px
}

.contenido img {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espacio inferior para separar del texto */
}

.contenido h3, .contenido h4 {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenido i{
    text-align: end;
}

.contenido p {
    margin-bottom: 20px; /* Espacio inferior entre párrafos */
    text-align: start;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
}
/* Media queries para responsividad */
@media screen and (max-width: 768px) {
    .noticia-detalle {
        left: 0;
        top: 0;
        padding: 10px;
    }
}
