/* Estilos generales */
.div-carousel2 {
  background-color: #219EBC;
  padding: 20px;
  border-radius: 10px;
}

.div-carousel2 .carousel-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.div-carousel2 .contenido2 {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  transition: transform 0.2s ease;
}

.div-carousel2 .contenido2:hover {
  transform: scale(1.05);
}

.div-carousel2 .miembro-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.div-carousel2 .texto {
  padding: 10px;
  background-color: #e0f7ff;
  text-align: left;
}

.div-carousel2 .nombre {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.div-carousel2 .instagram {
  color: #125688;
  text-decoration: none;
  margin: 0;
  transition: 0.2s;
}

.div-carousel2 .instagram:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.carousel2-h3 {
  text-align: center;
  color: white;
  font-family: 'Moderniz', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Estilos para cambiar el color de las flechas del carrusel a negro */

/* Previo */
.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 16 16"><path d="M11.354 1.354a.5.5 0 0 1 0 .707L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');
  width: 3rem;
  height: 3rem;
}

/* Siguiente */
.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 16 16"><path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
  width: 3rem;
  height: 3rem;
  
}


/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  .div-carousel2 .carousel-content {
      flex-direction: column;
  }

  .div-carousel2 .contenido2 {
      width: 100%; /* La imagen ocupa todo el ancho en móviles */
      margin-bottom: 20px; /* Espacio entre las imágenes */
  }
}
