/* Estilos base */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #121212;
    color: #fff;
    padding: 33px;
    position: relative;
    min-height: 200px;
    font-family: 'Moderniz', sans-serif;
}

.footer-logo,
.footer-secciones,
.footer-contacto-ubicacion {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.footer-secciones {
    margin-top: 10px;
    margin-left: 200px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}

.logo-container h2 {
    font-size: 1.5em;
    margin: 0;
}

.logo-texto {
    margin-top: 5px;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

.footer-contacto img {
    width: 100px;
    height: auto;
}

.footer-secciones p {
    font-weight: bold;
    font-size: 1.3em;
}

.footer-secciones ul {
    list-style-type: none;
    padding: 0;
}

.footer-secciones li {
    margin-bottom: 3px;
}

.footer-secciones a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.9em;
}

.footer-secciones a:hover {
    color: #a6a6a6;
}

.footer-contacto {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-ubicacion {
    display: flex;
    align-items: flex-start;
}

.footer-ubicacion i {
    height: auto;
    font-size: 0;
}

.footer-ubicacion i::before {
    margin-left: 12px;
    font-size: 35px;
    display: block;
}

.footer-ubicacion div {
    display: flex;
    flex-direction: column;
}

.footer-ubicacion a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-ubicacion a:hover {
    color: #a6a6a6;
}

.footer-creado-por {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    text-align: start;
    padding: 10px 0;
    margin: -5px;
    color: #fff;
    border-top: 1px solid #2F2F2F;
}

.footer-creado-por a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-creado-por a:hover {
    color: #a6a6a6;
}

/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-logo,
    .footer-secciones,
    .footer-contacto-ubicacion {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-secciones {
        margin-left: 0;
    }

    .footer-logo img,
    .footer-contacto img {
        width: 80px;
        height: auto;
    }

    .footer-ubicacion i::before {
        font-size: 25px;
    }

    .footer-secciones ul {
        text-align: center;
    }

    .logo-container {
        justify-content: center; /* Centra la imagen y el texto horizontalmente */
    }
}

@media (max-width: 374px) {
    .footer-logo img {
        width: 70px; /* Ajusta el tamaño de la imagen */
        height: auto;
        transform: translateX(0); /* Ajusta la posición en móviles más pequeños */
    }

    .footer-contacto img {
        width: 70px; /* Ajusta el tamaño de las imágenes */
        height: auto;
    }

    .footer-creado-por {
        width: 100%;
        padding: 10px;
    }

    .footer-creado-por a {
        font-size: 0.8em;
    }

    .logo-container {
        text-align: center;
    }
}
